.calendar {
    margin-bottom: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.625rem;
}

.calendar__date-picker {
    width: 100%;
    padding: 0.625rem 0;
    display: flex;
    justify-content: center;
    gap: 0.625rem;
    color: var(--font-colour-white);
    background-color: var(--main-blue);
}

.calendar__date-picker__arrows {
    aspect-ratio: 1;
    display: flex;
    align-items: center;
}

.calendar__space {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: var(--light-red);
}

.calendar__month {
    width: 50%;
    max-width: 30rem;
    aspect-ratio: 7/6;
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 1rem;
}

.calendar__month__day {
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.calendar__month__day--default {
    background-color: var(--light-blue);
    color: var(--font-colour);
}

.calendar__month__day--green {
    background-color: var(--success);
    color: var(--font-colour);
}

.calendar__month__day--yellow {
    background-color: var(--moderate);
    color: var(--font-colour);
}

.calendar__month__day--red {
    background-color: var(--fail);
    color: var(--font-colour);
}

.calendar__month__day--disabled {
    background-color: var(--font-colour-white);
    color: var(--light-blue);
}

.calendar__month__day--today {
    border: 0.125rem var(--main-blue) solid;
}

.calendar__month__day--selected-focus {
    border: 0.125rem var(--main-red) solid;
}

.calendar__month__day--selected {
    border: 0.125rem var(--main-red) solid;
}

.calendar__time-date-pickers{
    width: 100%;
    display: flex;
    justify-content: center;
}

.calendar__time-date-picker{
    width: 100%;
    max-width: 40rem;
    margin: 0 0.625rem;
    border-top: 0.125rem var(--main-red) solid;
    border-bottom: 0.125rem var(--main-red) solid;
    text-align: center;
}

.calendar__info{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.625rem;
}