#navbar{
    height: 100px;
    display: flex;
    border-bottom: 1px var(--grey2) solid;
}

#navbar__logo{
    height: 100%;
    padding: 30px;
}

#navbar__options{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#navbar__options__left{
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    overflow-y: hidden;
    overflow-x: hidden;
}

#navbar__options__right{
    height: 100%;
    min-width: 315px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

#navbar__separator{
    width: 2px;
    min-width: 2px;
    background-color: var(--main-red);
    height: 80%;
}

.navbar__option{
    display: flex;
    height: 100%;
    padding: 0 10px;
    align-items: center;
}

.navbar__option:hover{
    padding: 0 10px;
    background-color: var(--grey2);
    border-bottom: 2px var(--main-red) solid;
}

.navbar__burger-menu{
    display: none;
}

@media (max-width: 95rem) {
    .navbar__burger-menu{
        height: 100%;
        padding: 0 2rem;
        display: flex;
        align-items: center;
        font-size: 2.25rem;
    }
}

@media (max-width: 50rem) {
    #navbar__options__right{
        display: none;
    }
    
    #navbar__separator{
        display: none;
    }
}

@media (max-width: 40rem) {
    #navbar__options{
        justify-content: flex-end;
    }

    #navbar__options__left{
        display: none;
    }
}