#sidebar{
    position: fixed;
    top: 0;
    left: 0;
    min-width: 400px;
    height: 100%;
    min-height: 40rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: var(--main-blue);
    color: var(--font-colour-white);
    z-index: 100;
}

#sidebar__options{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#sidebar__options__top{
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-top: 2px var(--main-red) solid;
    border-bottom: 2px var(--main-red) solid;
}

#sidebar__options__bottom{
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-top: 2px var(--main-red) solid;
    border-bottom: 2px var(--main-red) solid;
}

.sidebar__option{
    height: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
}

.sidebar__option:hover{
    color: var(--main-red);
    border-bottom: 2px var(--main-red) solid;
}

.sidebar__burger-menu{
    padding: 10px;
    display: flex;
    align-items: center;
    font-size: 2.25rem;
}

.sidebar__arrow{
    display: flex;
    height: 100%;
    padding: 0 10px;
    align-items: center;
}

#cover{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 90;
    background-color: var(--grey2);
}