nav{
    min-width: 400px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: var(--main-blue);
    color: var(--font-colour-white);
}

#nav__options{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#nav__options__top{
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-top: 2px var(--main-red) solid;
    border-bottom: 2px var(--main-red) solid;
}

#nav__options__bottom{
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-top: 2px var(--main-red) solid;
    border-bottom: 2px var(--main-red) solid;
}

.nav__option{
    height: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
}

.nav__option:hover{
    color: var(--main-red);
    border-bottom: 2px var(--main-red) solid;
}

.nav__burger-menu{
    padding: 10px;
    display: flex;
    align-items: center;
    font-size: 2.25rem;
}

.nav__arrow{
    display: flex;
    height: 100%;
    padding: 0 10px;
    align-items: center;
}